<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <style>
            body {
                color: #ffffff;
                background-color: #1f1f1f;
                text-align: center;
            }
            button {
                font-size: 38px;
                margin: 30px;
                align-items: center;
                margin-top: 20%;
                padding: 30px;
                background-color: antiquewhite;
                border-radius: 4px;
            }
        </style>
    <title>Login</title>
</head>
<body>
    <button class="Google-Login">
        <a href="/google"><i class="fab fa-google"></i></a>
    </button>
    <button class="Facebook-Login">
        <a href="/facebook"><i class="fab fa-facebook"></i></a>
    </button>
    <button class="Twitter-Login">
        <a href="/github"><i class="fab fa-github"></i></a> 
    </button>
</body>
</html>